@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: url("../img/pared.jpeg") no-repeat fixed center;
  background-color: black !important;
  margin: auto;
  background-size: 99%;
  color: white;
}

#principal {
  height: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 220px ;
  grid-template-areas:
    "barra-de-nav"
    "contenido"
    "footer-part";
}

/*--------------------------------------------------------------------------- nav----------------------------------------------------------- */
.mobile{
  display:none
}

.clickeable{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

 
#barra-de-nav{
  background-color: rgba(3, 25, 133, 0.5);
  box-sizing: border-box;
}

.contact-btn{
  padding: 9px 25px;
  background-color: rgba(4, 127, 4, 1);
  border: none;
  border-radius:1em;
}
.contact-btn:hover{
  background-color: rgba(4, 127, 4, 0.7);
}


.logo-principal,.contact-btn {
  cursor: pointer;
}

.nav-bar{
  list-style: none;
}
.nav-bar>li{
  display: inline-block;
  padding: 0px 25px;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px; 
}

.nav-bar>li>a{
  transition: all 0.4s ease 0s; 
  
}

.nav-bar>li>a:hover{
  background-color: #BFF0AA;
  padding: 10px 20px;
  border-radius: 1em;
}



/*Fin Nav*/

/*--------------------------------------------main------------------------------------------------------------------------------------*/
#contenido {
  background-color: grey;
  margin: 0 5% 0 5%;
  color: black;
}
#imagen-centro > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 5px;
}
#imagen-centro {
  box-sizing: content-box;
  justify-content: center;
  max-width: 96%;
}

#txtmain {
  background-color: black;
  border-color: silver;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 5px;
}
#txtmain > ul > li {
  list-style: none;
}
#txtmain > * {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  color: white;
}
#txtmain > h1 {
  font-size: 2.3em !important;
  color: white;
}
#txtmain > h2 {
  font-size: 2em !important;
  text-align: center;
}
#txtmain > h3 {
  padding-left: 15px !important;
}
#txtmain > p {
  font-size: 1.3em !important;
  padding-left: 20px;
}

#txtmain > ul > li {
  padding-left: 20px;
  padding-top: 20px;
}



/*--------------------------Subrayado-----------*/
.sub {
  text-decoration: underline;
}

/*----------Anclas en la pagina---------*/

.anclas-sub{
  
  color: rgb(154, 206, 124);
  border: solid 2px green;
  border-radius: 3px;
  }

/*--------Imagenes de los bosese------------*/

.imagen-jefe{
  padding-left: 60px;
  padding-top: 1em;
  width: 200px;
}
.imagenjefe{
  padding-left: 60px;
  padding-top: 1em;
  width: 400px;
}

.anclas{
  text-decoration: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*fin main*/

/*---------------------footer-------------------------------------------------------------------------*/
#footer-part {
    padding-top: 5px;
  color: white;
  background-color: rgb(3, 25, 133);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "redes footer-txt";
  font-family: "Nunito", sans-serif;
  bottom: 0px;
}
#footer-txt {
  margin-left: 15px;
  text-align: center;
}
#redes > h4 {
  padding-left: 15px;
}
#redes > ul {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 40px 20px 40px;
}

.icon-soc {
  margin: 0 25px;
  font-size: 3rem;
  color: white;
  padding: 20px 0;
  }
/*--------------------------------------------------------------------Aqui comienza los estilos para tablet ------------------------------------------------------------*/

@media screen and (min-width: 766px) and (max-width: 1028px) {
    
*{margin: 0;
  padding: 0;
  box-sizing: border-box;}

body{
  font-family: 'Nunito', sans-serif;

}

.clickeable a {
  font-size: 1em;
}

#principal {
     height: 100%;
     display: grid;
     box-sizing: border-box;
     grid-template-columns: 1fr;
     grid-template-rows: 80px auto 220px ;
     grid-template-areas:
          "barra-de-nav"
          "contenido"
          "footer-part";
      }
    /* Referente al nav en tablet */



}

/* ------------------------------------------------------------------------------Aqui empieza los estilos mobile ----------------------------------------------------------*/

@media screen and (max-width: 765px) {
  #principal {
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 250px ;
    grid-template-areas:
      "barraDeNav"
      "contenido"
      "footer-part";
  }
  body {
    background: url("../img/paredmobile.jpg") no-repeat fixed center;
    background-color: black !important;
    margin: auto;
    background-size: 99%;
    color: white;
    top: 0;
    left: 0;
  }
  


  .clickeable a {
    font-size: 3em;
  }
  
  .clickeable {
    text-align: center;
  }

/* Referente al nav*/

.nav-bar {
  display: none;
}

.mobile {
  display:block;
  box-sizing: border-box;
  

}
.mobile-bar{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 2em;
  padding: 20px 0px 0px 0px;
  margin-left: 25px;
}
.mobile-bar a
{ align-items: auto;
  text-decoration: none;
  color: rgb(255,255,255);
  padding: 5px 40px 0 ;
}
.mobile-link{
  margin: 10px;
}

/* Referente al pie */
 .icon-soc { /*iconos de las redes*/
 margin: 0 15px;
 font-size: 1.5em;
 color: white;
 padding: 20px 0;
      }}
      
   